<h3>Sites</h3>

<table id='siteTable'>
	<tr>
    <th>Link</th>
    <th>HTTP Response Code</th>
  </tr>

<% @sites.each_with_index do |site, index| %>
  <tr>
  	<td><%= link_to site.url, site.url %></td>
  	<td><%= site.http_response %></td>
    <td><%= link_to 'Destroy', site_path(site),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>

</table>
