<!DOCTYPE html>
<html>
<head>
  <title>LinkChecker</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<script>
var source = $("#inline-template").html();

var inline_string_template = Handlebars.compile("<p>This is my template,{{url}}</p>");
$("#url").html(inline_string_template(url));

</script>
<%= yield %>

</body>
</html>
